* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pirata One", serif;
}
body {
    background-color: #f0e68c;
    font-family: Arial, sans-serif;
    color: #333;    
    background-size: cover;
    background-position: center;
}
.header {
    text-align: center;
    padding: 20px;
    background-color: #ff4500;
}
.header h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
}
.nav {
    background-color: #ffa500;
    padding: 10px;
    text-align: center;
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.nav-list li {
    display: inline;
}
.nav-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.nav-list li a:hover {
    background-color: #ff6347;
}
.caja {
    padding: 30px 20px;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.article {
    margin-bottom: 30px;
}
.article h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
}
.article p {
    font-size: 1.2em;
    line-height: 1.5;
}
.character-list {
    list-style: none;
    padding: 0;
}
.character-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.character-item h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
.character-item p {
    font-size: 1.5em;
    width: 60%;
}
.character-img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}
#redes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#redes .social-img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}
#redes .social-img:hover {
    transform: scale(1.2);
}
.contact {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #ff4500;
    color: #fff;
    margin-top: 20px;
    border-radius: 10px;
}
.contact-item p {
    margin-bottom: 10px;
    font-size: 1.5em;
}
.pie {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}
.pie p {
    font-size: 1.2em;
}
